<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOmQAtxyC4eZhF9q4c6a2sXUtyISh_lr8</string>
	<key>GCM_SENDER_ID</key>
	<string>808317363646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase131Flutterfire.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shoppercart-f107f</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppercart-f107f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808317363646:ios:9b5241a409160f043645ef</string>
</dict>
</plist>